<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <meta name="description"
        content="Merke Dir wichtige Dinge mit Hilfe von Artikeln. Finde dein Wissen schnell wieder.">
  <meta name="viewport"
        content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
  <link type="text/css" th:href="@{/css/base.css}" href="../../css/base.css"
        rel="stylesheet"/>

  <title th:text="${title}"></title>
</head>
<body>
<h1 id="headline" th:text="${title}"></h1>
<div>
  <form>
    <input name="seatch" type="text" id="input-search">
  </form>
</div>
<div id="articles">
  <svg style="position: absolute;top: 120px;left: 0;width: 100%;height: 100%;"
       th:each="rel : ${relations}"
       th:data-source="${rel.source.id}"
       th:data-target="${rel.target.id}"
       th:data-line="${rel.source.id+'_'+rel.target.id}"
       onload="drawLine(this.getAttribute('data-source'),this.getAttribute('data-target'),this.getAttribute('data-line'))">
    <line th:id="${rel.source.id+'_'+rel.target.id}" stroke="black">
    </line>
    <text class="text_relation" th:text="${rel.type}"
          th:id="${'text_'+rel.source.id+'_'+rel.target.id}">
    </text>
  </svg>
  <div th:id="${art.id}" class="article" th:each="art : ${articles}">
    <table>
      <thead>
      </thead>
      <tbody>
      <tr>
        <th>Titel</th>
      </tr>
      <tr>
        <td th:text="${art.title}">Titel</td>
      </tr>
      <tr>
        <th>Beschreibung</th>
      </tr>
      <tr>
        <td th:text="${art.description}">Beschreibung</td>
      </tr>
      <tr>
        <th>Author</th>
      </tr>
      <tr>
        <td th:text="${art.author}">Author</td>
      </tr>
      <tr>
        <th>Links</th>
      </tr>
      <tr>
        <td><span th:each="link: ${art.webLinks}"><a th:text="${link.name}"
                                                     th:href="${link.url}"></a></span></td>
      </tr>
      <tr>
        <th>Datum</th>
      </tr>
      <tr>
        <td th:text="${art.getCreationDate()}">Datum</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
<script>

  function drawLine(source, target, line) {
    var lineElement = $('#' + line);
    var textElement = $('#text_' + line);
    var sourceDiv = $('#' + source);
    var targetDiv = $('#' + target);

    var x1 = sourceDiv.offset().left + (sourceDiv.width() / 2);
    var y1 = sourceDiv.offset().top + (sourceDiv.height() / 2);
    var x2 = targetDiv.offset().left + (targetDiv.width() / 2);
    var y2 = targetDiv.offset().top + (targetDiv.height() / 2);

    lineElement.attr('x1', x1).attr('y1', y1).attr('x2', x2).attr('y2', y2).attr('stroke', 'black');
    textElement.attr('x', (x2 / 2) + 50).attr('y', y2 - 10)
  }

</script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<script>
  $(document).ready(function () {

    $("#input-search").on('input', function () {
      var title = $(this).val(); // this.value
      $(".article").remove();

      $.ajax({
        url: '/rest/articles?title=' + title,
        type: 'get',
        success: function (data) {
          console.log('Reading artciles with title finished' + data[0].title);

          for (i = 0; i < data.length; i++) {
            console.log("Article " + data[i].title);

            $("#articles").append(
                "<div th:id=" + data[i].id + " class=\"article\">\n"
                + "    <table>\n"
                + "      <thead>\n"
                + "      </thead>\n"
                + "      <tbody>\n"
                + "      <tr>\n"
                + "        <th>Titel</th>\n"
                + "      </tr>\n"
                + "      <tr>\n"
                + "        <td>" + data[i].title + "</td>\n"
                + "      </tr>\n"
                + "      <tr>\n"
                + "        <th>Beschreibung</th>\n"
                + "      </tr>\n"
                + "      <tr>\n"
                + "        <td>" + data[i].description + "</td>\n"
                + "      </tr>\n"
                + "      <tr>\n"
                + "        <th>Author</th>\n"
                + "      </tr>\n"
                + "      <tr>\n"
                + "        <td>" + data[i].author + "</td>\n"
                + "      </tr>\n"
                + "      <tr>\n"
                + "        <th>Links</th>\n"
                + "      </tr>\n"
                + "      <tr id=\"links_" + data[i].id + "\">\n"
                + "      </tr>\n"
                + "      <tr>\n"
                + "        <th>Datum</th>\n"
                + "      </tr>\n"
                + "      <tr>\n"
                + "        <td>" + data[i].createDate + "</td>\n"
                + "      </tr>\n"
                + "      </tbody>\n"
                + "    </table>\n"
                + "  </div>");

            for (w = 0; w < data[i].webLinks.length; w++) {
              $("#links_" + data[i].id).append(
                  "<td><span><a href=\"" + data[i].webLinks[w].url + "\">"
                  + data[i].webLinks[w].name + "</a></span></td>\n")

            }
          }
        }
      }).fail(function () {
        console.log('Failed');
      });
    });

  });
</script>

</body>
</html>