<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <meta name="description"
        content="Merke Dir wichtige Dinge mit Hilfe von Artikeln. Finde dein Wissen schnell wieder.">
  <meta name="viewport"
        content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
  <title th:text="${title}"></title>
</head>
<body>
<h1 th:text="${title}"></h1>

<div th:each="art : ${articles}">
  <table>
    <thead>
    </thead>
    <tbody>
    <tr>
      <th>Titel</th>
    </tr>
    <tr>
      <td th:text="${art.title}">Titel</td>
    </tr>
    <tr>
      <th>Beschreibung</th>
    </tr>
    <tr>
      <td th:text="${art.description}">Beschreibung</td>
    </tr>
    <tr>
      <th>Author</th>
    </tr>
    <tr>
      <td th:text="${art.author}">Author</td>
    </tr>
    <tr>
      <th>Links</th>
    </tr>
    <tr>
      <td><span th:each="link: ${art.webLinks}"><a th:text="${link.name}"
                                                   th:href="${link.url}"></a></span></td>
    </tr>
    </tbody>
  </table>
</div>
</body>
</html>